{% extends "base.html" %}
{% block title %}Teacher Browser{% endblock %}
{% block content %}

<h1>Przeglądaj Nauczycieli</h1>

<!-- FILTRY -->
<form method="get" action="{{ url_for('lessons.teacher_browser') }}">
    <div>
        <label for="subject">Przedmiot</label>
        <select name="subject" id="subject">
            <option value="">-- Wszystkie --</option>
            {% for subject in subjects %}
            <option value="{{ subject.id }}"
                {% if request.args.get('subject') == subject.id|string %}selected{% endif %}>
                {{ subject.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="difficulty_id">Poziom trudności</label>
        <select name="difficulty_id" id="difficulty_id">
            <option value="">-- Wszystkie --</option>
            {% for level in difficulty_levels %}
            <option value="{{ level.id }}"
                {% if request.args.get('difficulty_id') == level.id|string %}selected{% endif %}>
                {{ level.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="name">Nazwa</label>
        <input type="text" name="name" id="name"
            value="{{ request.args.get('name', '') }}">
    </div>
    <div>
        <button class="btn btn-secondary mt-2" type="button" onClick="location.href='{{ url_for('lessons.teacher_browser') }}';">Wyczyść filtry</button>
        <button class="btn btn-primary mt-2" type="submit">Filtruj</button>
    </div>
</form>

<!-- LISTA NAUCZYCIELI -->
<h2>Lista Nauczycieli</h2>
<div class="tile-container">
    {% for teacher in teachers %}
    <a class="teacher-tile" href="{{ url_for('lessons.teacher_details', teacher_id=teacher.id) }}">
        <div class="tile">
            <p><strong>Imie:</strong> {{ teacher.name }}</p>
            <p><strong>Przedmioty:</strong> {{ teacher.subjects | join(', ') }}</p>
            <p><strong>Poziomy Nauczania:</strong> {{ teacher.difficulty_levels | join(', ') }}</p>
            <p><strong>Stawka Godzinowa:</strong> {{ teacher.hourly_rate }} PLN</p>
            <p><strong>O Nauczycielu:</strong> {{ teacher.bio }}</p>

            <p><strong>Godziny pracy:</strong></p>
            <ul>
                {% for slot in teacher.calendar %}
                <li>{{ slot }}</li>
                {% endfor %}
            </ul>
        </div>
    </a>
    {% else %}
        <p>No teachers found matching the criteria.</p>
    {% endfor %}
</div>


{% endblock %}
